---
layout: default
menu: home
css: ['index.css', 'sidebar-popular-repo.css']
---
<section class="jumbotron">
    <div class="container">
        <h1>What is going on?</h1>
        <div id="jumbotron-meta-info">
            <span class="meta-info">
                <span class="octicon octicon-organization"></span>
                  Demystifying dogmas in chronic illnesses, collaboratively.
            </span>
        </div>
    </div>
</section>
<section class="content container">

    <div class="row">
        <div class="col-md-8">

            <h3>Stopping Madness in Chronic neurodegenerative diseases</h3>

            <p>This initiative is an attempt to diminish the exponential increase of debilitating, particularly neurologic diseases, affecting millions of people every day.</p>

            <!-- Pagination -->
            {% include pagination.html %}
        </div>

        <div class="col-md-4">
            {% include sidebar-last-posts.html %}
        </div>

    </div>

</section>
