---
layout: default
menu: home
css: ['index.css', 'sidebar-popular-repo.css']
---
<section class="jumbotron">
    <div class="container">
        <h1>What is going on?</h1>
        <div id="jumbotron-meta-info">
            <p>
                <span class="meta-info">
                    <span class="octicon octicon-organization"></span> Demystifying dogmas in chronic illnesses
                </span>
            </p>
            <p>
                <span>Exploring solutions for chronic disease, from patients for patients.</span>
            </p>
        </div>
    </div>
</section>
<section class="content container">
    <div class="row">
        <div class="col-md-8">
            <div>
                {% include flash-news.html %}
            </div>
            {% include pagination.html %}
        </div>

        <div class="col-md-4">
            {% include sidebar-last-posts.html %}
        </div>

    </div>

</section>
